@charset "utf-8";
/* CSS Document */
h1#addon-page-title {
margin-bottom: 19px;
text-transform: capitalize;
font-size: 22px;
color: #373737;
margin: 0;
padding: 0;
font-weight: bold;
}

.page-template-add_plugin-php #content .page {margin: 0;}
#container div.plugin_form .page input[type=text] {
	border-radius: 4px;
	background: #fff;
	background-image: none;
	border: 1px solid #EEE;
	box-shadow: inset 0 1px 2px #bbb, inset 0 1px 5px #ddd;
	-webkit-box-shadow: inset 0 1px 2px #bbb, inset 0 1px 5px #ddd;
	-moz-box-shadow: inset 0 1px 2px #bbb, inset 0 1px 5px #ddd;
	margin-right: 0;
	width: 200px;
	margin-right: 15px;
}

#container div.plugin_form .page fieldset, #container div.plugin_form .page input, #container div.plugin_form .page label {
	margin-right: 0;
}

input.longer {width: 300px!important;}
input.def {width: 200px; margin-right: 15px;}
input.longest {width: 420px!important;}
#container div.plugin_form .page label {font-weight: bold;}
label.singlerow {width: 150px!important;}
fieldset.category label {margin-right: 40px;}

label span.clarify {
	font-weight: normal!important;
	display: inline!important;
	font-size: 13px!important;}
button.clone {color: #1560CD; font-size: 11px; margin-left: 10px;}
button.clone:hover {text-decoration: underline; cursor: pointer;}
label.fileupload {width: 239px; padding-right: 0; margin-right: 0!important; padding-right: 0;}
#captures2 label {margin-right: 0!important;}
#captures3 label {margin-right: 0!important;}
label.fileupload span.numbering {display: block; float: right; font-size: 22px!important; line-height: 22px!important; font-weight: bold!important; color: #000!important; padding-top: 2px; padding-right: 2px;}
label.checkboxlabel {font-weight: normal!important;}
fieldset.fileupload {width: 100%;}
fieldset.fileupload label {padding-right: 0!important;}
.uploader {margin-left: 0!important;}

input#documentation_input, input#add_icon {margin-left: 239px!important;}
#container div.plugin_form .documentation p, #container div.plugin_form .icon p {text-align: left; margin-left: 239px;}
#container div.plugin_form .icon p {text-indent: 0;}

#subcategory-plugin, #subcategory-tool {padding: 12px 15px; margin-top: 0!important; margin-bottom: 10px!important; background: #e1e1e1; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px;}


#container div.plugin_form .page #submit-post {background: url(images/submitforreview-sprite.png) no-repeat 0 0; width: 176px; height: 31px; display: block;}
#container div.plugin_form .page #submit-post:hover {background-position: 0 -31px;}
#container div.plugin_form .page #submit-post:active {background-position: 0 -62px;}

div#default-iconset {background: #fff; width: 270px; height: 57px; padding: 12px 15px;}
div#default-iconset li {float: left; list-style: none; margin-right: 8px;}
