.environment_description{
float:left;
}
.environment_description textarea{
	float:left;
	clear:left;
	margin-top:5px;
}
#edit-plugin fieldset{
	margin:20px 10px;
	border-bottom:1px solid #dedede;
	padding-bottom:8px;
	
}
#edit-plugin fieldset label span{
	display:block;
}

#edit-plugin label {
  font-weight: bold !important;  
}

#edit-plugin fieldset img{
	width:60px;
	height:60px;
	margin-left: 30px;
vertical-align: bottom;
border: 1px solid black;
}
div#default-iconset {background: #fff; width: 352px; height: 80px; padding: 12px 15px 12px 7px; overflow: hidden;display: inline-block;
bottom: 10px;
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border: 1px solid #e1e1e1; }
div#default-iconset ul {width: 400px; margin: 0; padding: 0;}
div#default-iconset li {float: left; list-style: none; padding: 4px;}
div#default-iconset li:hover {background: #e1e1e1; cursor: pointer;}
div#default-iconset li.selected {background: #1560CD;}
div#default-iconset img {display: block;width:50px;height:50px;margin:0;display: inline-block;
bottom: 10px;}


fieldset.captures{
	clear:left;
}
