#manager_wrap {
	padding-bottom: 50px;	
}
#manager_wrap ul#manager_form_wrap li.slide {
	display: block;
	width: 490px;
	padding: 10px;
	background: #eaeaea;
	margin-bottom: 15px;
	border: solid 1px #ccc;
	cursor: pointer;
	height:100%;
	overflow:hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#manager_wrap ul#manager_form_wrap li.slide input,
#manager_wrap ul#manager_form_wrap li.slide textarea {
	display: block;
	width: 400px;
	padding: 6px 8px;
	border: none;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #606060;
	background: #fff;
	clear:left;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#manager_wrap ul#manager_form_wrap li.slide label {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #505050;
	padding-bottom: 5px;	
	float:left;
	clear:both;
}
#manager_wrap .slide-highlight {
	display: block;
	width: 400px;
	padding: 10px;
	height: 200px;
	background: #eaeaea;
	border: dashed 2px #bbb;
	margin-bottom: 13px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}
.slide .upload_button{color: #909090;
float:left;
margin-left:5px;
padding: 4px;
-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
background: -o-linear-gradient(top, white 0%,#DBDBDB 100%);
background: -ms-linear-gradient(top, white 0%,#DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );
background: -moz-linear-gradient( top, white 0%, #DBDBDB);
background: -webkit-gradient(linear, left top, left bottom, from(white),to(#DBDBDB));
border: 1px solid #C8C8C8;
-moz-box-shadow: 0px 0px 0px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,1);
-webkit-box-shadow: 0px 0px 0px rgba(000,000,000,0), inset 0px 0px 1px rgba(255,255,255,1);
text-shadow: 0px 0px 0px rgba(000, 000, 000, 0), 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.remove_slide{float:left;}
#manager_submit{clear: left;
float: left;
margin-top: 8px;}